/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    z-index: 10;
}

#overlay-image {
    width: 300px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

.content {
    display: none;
    padding: 20px;
    text-align: center;
}

.content.active {
    display: block;
}